* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}



/*---------------------
      Style of Nav 
 ---------------------*/

.nav {
    display: flex;
    gap: 500px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 50px;

}

.nav-title {
    font-weight: 700;
    font-size: 30px;
}

.nav-option {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
}

.nav-option a {
    text-decoration: none;
    color: black;
}



/*---------------------
      Style of Banner 
 ---------------------*/

.banner {
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-position: center 500px;
    /* width: 1920px; */
    height: 1322px;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    padding-top: 116px;
    padding-bottom: 15px;
}


.banner-description {
    padding-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
}

.explore-more {
    width: 180px;
    height: 64px;
    padding: 20px 24px;
    background-color: #FF900E;
    color: #FFFFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

/* -----------------
    Style of Team 
-------------------*/

.team {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 130px;
}

.team-member {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.team-title {
    font-weight: 500;
    font-size: 45px;
    padding-bottom: 25px;
}

.quick-list {
    color: #727272;
}

.features {
    color: #FF900E;
}

.team-description p {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 32px;
}

/* -------------------------
   Style of Company Services 
-----------------------------*/

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    gap: 150px; 
    margin-bottom: 130px;
}

.our-service h1 {
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    padding-left: 5px;
    margin-bottom: 20px;
}


.service-name {
    padding: 30px 40px 30px 30px;
    border: 1px solid none;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin: 30px;
}

.service-name p {
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
}

.experience-button {
    position: absolute ;
    padding: 16px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    left: 850px;
    color: white;
    width: 342px;
    height: 200px;
    top: 3150px;
    font-size: 25px;
}

.experience-button h1 {
    font-weight: 700;
    font-size: 50px;
}


/*---------------------
    Facts and Count
---------------------*/

.facts {
    text-align: left;
    margin-bottom: 100px;
    margin-left: 250px;
}

.facts h1 {
    font-weight: 700;
    font-size: 45px;
}

.facts p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


.count {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 180px;
}
.count-item {
    text-align: center;
    padding: 50px 40px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition-property: width;
    transition: width 2s, height 2s, transform 2s;
}

.count-item:hover {
    background:#FFF4E7;
    transform: scale(1.5);
}

.count-item p {
    font-size: 20px;
    color: #727272;
}

/*-------------------
 style of Sponspors
------------------- */

.sponspors {
    text-align: center;
}

.sponspors-title {
    padding-bottom: 100px;
}

.sponspors-title h1 {
    margin-bottom: 24px;
    margin: 0;
}

.sponspors-img {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 130px;
}


/* ---------------
    Contact form
---------------- */

.contact {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 150px;
    background-color:#FFF4E7;
    padding: 100px;
}

.form input {

    padding: 10px 20px;
    border-radius: 5px;
}

.send {
    padding: 10px 20px; 
    background-color: #FF900E;
    border-radius: 5px;
}

.fa-brands {
    font-size: 30px;
}

/* --------------
    Landing Page 
------------------*/


.landing-page {
    text-align: center;
    font-size: 18px;
    padding: 40px 400px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 100px;
    background-color:#FFF4E7;
}



/* ------------------------
    Media query for Mobile
---------------------------*/

@media screen and (max-width: 576px)  {
    .nav {
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        gap: 20px;
        align-content: center;
    }

    .nav-title{
        text-align: center;
    }

    .nav-option {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .banner-title {
        font-size: 30px;   
        width: 100%;   
    }
    .banner-description,{
        width: 100%;
    }

    .banner {
        background-position: center 400px;
        background-size: 90%;
        height: 650px;
    }

    .team, .team-member, .services, .services-img, .facts, .count, .sponspors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px;
    }

    .our-service {
        padding-top: 50px;
    }


    .services-img{
        height: 650px;
        width: 400px;
        margin-bottom: 150px;  

    }

    .experience-button {
        left: 120px;
        width: 320px;
        height:180px;
        top: 4450px;
    }
    
    .count {
        gap: 50px;
    }

    .sponspors-img {
        flex-direction: column;
        gap: 20px;
    }  

    .contact {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 50px;

    }

    .address, .form h2 {
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .landing-page {
        margin: 0;
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

}
